@model EfoodApp.Modelos.Precio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Tipo de Precio";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit;4.rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            // Actualizar
            titulo = "Actualizar Precio";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label asp-for="Codigo">Código</label>
                <input asp-for="Codigo" class="form-control" placeholder="Código del Tipo de Precio" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion del Tipo de Precio" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <br />

        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>





    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("Codigo").addEventListener('change', function () {
            validarCodigo();
        });

        function validarCodigo() {
            var url = '@Url.Action("ValidarCodigo", "Precio", new { area = "Admin" })';
            var codigo = document.getElementById("Codigo").value;
            var id = '@Model.Id';

            $.getJSON(url, { codigo: codigo, id: id }, function (data) {
                if (data.data) {
                    swal("Error", "Código ya existe", "error");
                    document.getElementById("Codigo").value = "";
                }
            });
        }




    </script>
}